<footer class="footer__wrapper">
  <div class="container">
    <div class="footer">
      <nav class="footer__nav__wrapper">
        <div class="footer__logo">
          <img src="{{ '/assets/images/logo.svg'|theme }}" alt="" />
        </div>

        <ul class="footer__nav">
          <li class="footer__nav__item"><a href="#">Главная</a></li>

          <li class="footer__nav__item"><a href="#">Услуги</a></li>

          <li class="footer__nav__item"><a href="#">Портфолио</a></li>

          <li class="footer__nav__item"><a href="#">Отзывы</a></li>

          <li class="footer__nav__item"><a href="#">Контакты</a></li>
        </ul>
      </nav>

      <address class="footer__contacts">
        <div class="footer__contacts__item">
          <p>
            Республика Казахстан, г. Алматы, <br />
            ул. Кунаева 181 Б
          </p>
        </div>

        <div class="footer__contacts__item">
          <p>
            Отдел продаж <a href="tel:7 (727) 3231333">7 (727) 3231333</a>
          </p>
          <p>
            Тех поддержка <a href="tel:7 (727) 3231300">7 (727) 3231300</a>
          </p>
        </div>

        <div class="footer__contacts__item">
          <p><a href="mailto:hello@netdev.kz">hello@netdev.kz</a></p>
          <p><a href="mailto:help@netdev.kz">help@netdev.kz</a></p>
        </div>
      </address>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__bottom__text"><a href="/">NETDEV</a> © 2023</p>
  </div>
</footer>