<header class="header__wrapper {%if this.page.id == 'portfolio-item' %}is-transparent{% endif %}" data-aos="fade-down">
  <div class="container">
    <div class="header">
      {# <a href="/">
        <div class="header__logo">
          <img src="{{ '/assets/images/logo.svg'|theme }}" alt="" />
        </div>
      </a> #}
      <a class="header__logo" href="/"> </a>

      <nav class="header__nav__wrapper">
        <ul class="header__nav">
          <li class="header__nav__item">
            <a href="#">Главная</a>
          </li>

          <li class="header__nav__item">
            <a href="#">Услуги</a>
          </li>

          <li class="header__nav__item">
            <a href="{{'portfolio'|page}}">Клиенты</a>
          </li>

          <li class="header__nav__item">
            <a href="#">Отзывы</a>
          </li>

          <li class="header__nav__item">
            <a href="#">Стоимость</a>
          </li>

          <li class="header__nav__item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__panel">
        <button class="header__button">
          <span>Оставить заявку</span>

          <i class="mdi mdi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</header>