[viewBag]
==
<?php
use Atashka\Netdev\Models\TalkSection;

function onStart()
{
    $this['talksection'] = TalkSection::where('id', 1)->get();
    // dd($this['talksection']);
}
?>
==
<section class="section__wrapper talk-section__wrapper">
        <div class="container">
          <h1 class="section__title talk-section__title">о нас говорят</h1>
          <div class="talk-section__slider__wrapper">
            <section
              class="splide talk-section__slider"
              aria-label="Splide Basic HTML Example"
            >
              <div class="splide__track">
                <ul class="splide__list">


                {% for data in talksection %}
                  <li class="splide__slide talk-section__slider__item">
                    <div class="section talk-section">
                      <div class="talk-section__sponsor-image">
                        <img src="{{ data.logo.path }}" alt="" />
                      </div>

                      <div class="talk-section__content">
                        {{ data.text|raw }}

                       
                      </div>

                      <div class="talk-section__content__document">
                        <img src="{{ data.file.path }}" alt="" />
                      </div>
                    </div>
                  </li>
                {% endfor %}






                </ul>
              </div>

              <div class="splide__arrows talk-section__slider__arrows">
                <button
                  class="splide__arrow splide__arrow--prev talk-section__slider__arrow talk-section__slider__arrow--prev"
                >
                  <i class="mdi mdi-chevron-left"></i>
                </button>

                <div
                  class="slider__pagination talk-section__slider__pagination"
                >
                  <span class="current"></span>
                  <span>/</span>
                  <span class="total">2</span>
                </div>

                <button
                  class="splide__arrow splide__arrow--next talk-section__slider__arrow talk-section__slider__arrow--next"
                >
                  <i class="mdi mdi-chevron-right"></i>
                </button>
              </div>
            </section>
          </div>
        </div>
      </section>