==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NETDEV</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css"
      integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/css/splide-core.min.css"
      integrity="sha512-cSogJ0h5p3lhb//GYQRKsQAiwRku2tKOw/Rgvba47vg0+iOFrQ94iQbmAvRPF5+qkF8+gT7XBct233jFg1cBaQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{{ 'assets/styles/primeflex.min.css'|theme }}" />
    <link rel="stylesheet" href="{{ 'assets/styles/main.css'|theme }}" />
    {% styles %}
  </head>
  <body>

{% page %}

      <script
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
      integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw="
      crossorigin="anonymous"
    ></script>

    <script>
      function initSlider(sliderClass) {
        const sliderElement = document.querySelector(sliderClass);
        const totalItemCount = Array.from(
          sliderElement.querySelectorAll(".splide__slide")
        ).length;

        function handlePagination(index) {
          const paginationWrapper = sliderElement.querySelector(
            ".slider__pagination"
          );

          const current = paginationWrapper.querySelector(".current");
          const total = paginationWrapper.querySelector(".total");

          current.textContent = index + 1;
          total.textContent = totalItemCount;
        }

        const splide = new Splide(sliderClass, {
          arrows: {
            prev: document.querySelector(".splide__arrow--prev"),
            next: document.querySelector(".splide__arrow--next"),
          },
          gap: 10,
          pagination: false,
          autoplay: true,
          interval: 3000,
          rewind: true,
        });

        splide.on("mounted", () => {
          handlePagination(0);
        });

        splide.on("move", (index) => {
          handlePagination(index);
        });
        splide.mount();
      }

      function initSliders() {
        const sliders = [".landing-section__slider", ".talk-section__slider"];
        sliders.map((e) => initSlider(e));
      }

      function initAccordion() {
        const accordionItems = document.querySelectorAll(
          ".services-section__list__item__title"
        );

        for (const item of accordionItems) {
          const observer = new IntersectionObserver(
            (entries) => {
              entries.forEach((entry) => {
                if (entry.isIntersecting) {
                  item.parentElement.classList.add("is-active");
                }
              });
            },
            {
              rootMargin: "250px 0px -150px 0px",
            }
          );

          observer.observe(item);

          item.addEventListener("click", function (event) {
            event.preventDefault();
            item.parentElement.classList.toggle("is-active");
          });
        }
      }

      function init() {
        initSliders();
        initAccordion();
      }

      document.addEventListener("DOMContentLoaded", function () {
        init();
      });
    </script>
    {% framework extras %}
    {% scripts %}
  </body>
</html>